<!doctype html><html lang="en"><head>
		<meta charset="utf-8">
		
		<link rel="shortcut icon" href="https://uncommonfarms.com/hubfs/ffg_favicon.png">
		<meta name="description" content="">
		
		
		
		
		
		
		
		
    <script src="/hs/hsstatic/jquery-libs/static-1.4/jquery/jquery-1.11.2.js"></script>
<script>hsjQuery = window['jQuery'];</script>
    <meta property="og:description" content="">
    <meta property="og:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:title" content="">

    

    
    <style>
a.cta_button{-moz-box-sizing:content-box !important;-webkit-box-sizing:content-box !important;box-sizing:content-box !important;vertical-align:middle}.hs-breadcrumb-menu{list-style-type:none;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}.hs-breadcrumb-menu-item{float:left;padding:10px 0px 10px 10px}.hs-breadcrumb-menu-divider:before{content:'›';padding-left:10px}.hs-featured-image-link{border:0}.hs-featured-image{float:right;margin:0 0 20px 20px;max-width:50%}@media (max-width: 568px){.hs-featured-image{float:none;margin:0;width:100%;max-width:100%}}.hs-screen-reader-text{clip:rect(1px, 1px, 1px, 1px);height:1px;overflow:hidden;position:absolute !important;width:1px}
</style>

<link rel="stylesheet" href="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/95235084157/1689787333066/bf-enterprise/css/main.min.css">
<link rel="stylesheet" href="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/95237068602/1688132008960/bf-enterprise/css/templates/system.min.css">
<link rel="stylesheet" href="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/95230067519/1690372837425/bf-enterprise/css/overrides.min.css">
<link rel="stylesheet" href="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/113870278756/1684952234541/bf-enterprise/css/Slick-min-1.8.1.min.css">
<link rel="stylesheet" href="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/module_assets/1689784012623/module_113664127572_Header_Module_2023.css">

<style>
	#hs_cos_wrapper_button .btn-wrapper {
  display:flex;
  margin-top:px;
}

@media (min-width:768px) {
  #hs_cos_wrapper_button .btn-wrapper {}
}

</style>

<link rel="stylesheet" href="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/module_assets/113865496927/1687241064939/module_113865496927_Footer_Module_2023.min.css">
    

    
    <link rel="canonical" href="https://uncommonfarms.com/404">

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                            })(window,document,'script','dataLayer','GTM-KH6D5HF');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager -->
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NT67PKX');
</script>
<!-- End Google Tag Manager -->

<meta name="google-site-verification" content="H19ANJN18nGRZxTdIXRet06CFSaoGYR5mt5b2XrDxm0">

<!-- LuckyOrange Script -->
<script type="text/javascript">
  window.__lo_site_id = 330149;

  (function() {
    var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
    wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
  })();
</script>
<!-- END LuckyOrange Script -->
<meta property="og:url" content="https://uncommonfarms.com/404">
<meta name="twitter:card" content="summary">
<meta http-equiv="content-language" content="en">






    <link href="https://fonts.cdnfonts.com/css/tw-cen-mt-condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/zkn6ndc.css">
<!--     slick slider  -->
    

	<meta name="generator" content="HubSpot"></head>
  
	<body>
		<div class="body-wrapper   hs-content-id-0 hs-site-page page ">
			
			<div data-global-resource-path="bf-enterprise/templates/partials/header.html"><header class="top-space">
  

  <div id="hs_cos_wrapper_module_16829249723552" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="head-top">
	<div class="container">

		<div class="head-top-wrap">
			<div class="site-logo">
				
				
				<a href="https://uncommonfarms.com">
					
					
					
					
					
					
					<img src="https://uncommonfarms.com/hubfs/UnCommonFarms_2022_No_tag_HORIZONTAL.svg" alt="UnCommonFarms_2022_No_tag_HORIZONTAL" class="desk-logo">
					

					
					
					
					
					<img src="https://uncommonfarms.com/hubfs/UnCommonFarms_2022_No_tag_STACKED.png" alt="UnCommonFarms_2022_No_tag_STACKED" class="mob-logo">
					
				</a>
			</div>

			<div class="head-right">
				<div class="enumenu_ul">
					<span id="hs_cos_wrapper_module_16829249723552_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_menu" style="" data-hs-cos-general-type="widget" data-hs-cos-type="menu"><div id="hs_menu_wrapper_module_16829249723552_" class="hs-menu-wrapper active-branch no-flyouts hs-menu-flow-horizontal" role="navigation" data-sitemap-name="default" data-menu-id="113663960438" aria-label="Navigation Menu">
 <ul role="menu">
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="https://uncommonfarms.com/business-solutions" aria-haspopup="true" aria-expanded="false" role="menuitem">Business</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/business-solutions/canada-solutions" role="menuitem">Canada Solutions</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/business-solutions/management" role="menuitem">Management</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/business-solutions/succession-planning" role="menuitem">Succession Planning</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/business-solutions/financials" role="menuitem">Financials</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/business-solutions/human-resources" role="menuitem">Human Resources</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/business-solutions/networking" role="menuitem">Networking / Peer Groups</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/business-solutions/training" role="menuitem">Training</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="https://uncommonfarms.com/financial-solutions" aria-haspopup="true" aria-expanded="false" role="menuitem">Financial</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/financial-solutions/accounting" role="menuitem">Accounting</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/financial-solutions/tax" role="menuitem">Tax</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/financial-solutions/consulting" role="menuitem">Consulting</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/financial-solutions/training" role="menuitem">Training</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="https://uncommonfarms.com/insurance-solutions" aria-haspopup="true" aria-expanded="false" role="menuitem">Insurance</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/insurance-solutions/crop-insurance" role="menuitem">Crop Insurance</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/insurance-solutions/property-casualty" role="menuitem">Property &amp; Casualty Insurance</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="https://uncommonfarms.com/software-solutions" aria-haspopup="true" aria-expanded="false" role="menuitem">Software</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/software-solutions/fieldiq" role="menuitem">FieldIQ</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/software-solutions/agrierp" role="menuitem">AgriERP</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/software-solutions/agmanager" role="menuitem">AgManager</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1 hs-item-has-children" role="none"><a href="https://uncommonfarms.com/about" aria-haspopup="true" aria-expanded="false" role="menuitem">About</a>
   <ul role="menu" class="hs-menu-children-wrapper">
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/about/uncommon-farms-foundation" role="menuitem">UnCommon Farms Foundation</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/about/our-team" role="menuitem">Our Team</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/blog" role="menuitem">Blog</a></li>
    <li class="hs-menu-item hs-menu-depth-2" role="none"><a href="https://uncommonfarms.com/careers" role="menuitem">Careers</a></li>
   </ul></li>
  <li class="hs-menu-item hs-menu-depth-1" role="none"><a href="https://uncommonfarms.com/contact" role="menuitem">Contact Us</a></li>
 </ul>
</div></span>

				</div>



			</div>

		</div>


	</div>
</div>


<script>

	$(document).ready(function() {
		$('.enumenu_ul .hs-menu-wrapper > ul > li:last-child').clone().addClass('hide-desk').appendTo('.enumenu_ul');

		$('.enumenu_ul').responsiveMenu({
			'menuIcon_text': 'Menu',
			menuslide_overlap: true,
			menuslide_direction: 'right',
			onMenuopen: function() {}
		});

	});

	//   $(document).ready(function() {
	//     setTimeout(function() {
	//       $(".head-right").show();
	//     }, 1000);

	//   });
</script></div>
</header></div>
			

			

<main id="main-content" class="body-container-wrapper error-button">
  <section class="content-wrapper container">
    <div class="error-page" data-error="404">
      <div id="hs_cos_wrapper_content" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module widget-type-rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><span id="hs_cos_wrapper_content_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_rich_text" style="" data-hs-cos-general-type="widget" data-hs-cos-type="rich_text"><h1>Page not found.</h1></span></div>
      <div id="hs_cos_wrapper_button" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="btn-wrapper">
	
	
	<a href="/?hsLang=en" class="btn btn-primary">
		Go Home
	</a>
</div>

</div>
    </div>
  </section>
</main>


			
			<div data-global-resource-path="bf-enterprise/templates/partials/footer.html"><footer class="footer footer-global">
 
  <div id="hs_cos_wrapper_module_16830319704469" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_module" style="" data-hs-cos-general-type="widget" data-hs-cos-type="module"><div class="footer-inner-sec">
  <div class="container">
    <div class="footer-inner-wrap">
      <div class="footer-left-group">
        <div class="footer-logo-part">
          
          
          <a href="https://uncommonfarms.com">
            
            
            
            
            
            
            <img src="https://uncommonfarms.com/hubfs/UncommonFarms_logo.svg" alt="UnCommonFarms_logo" width="144" height="125" style="max-width: 100%; height: auto;">
            
          </a>
        </div>



        <div class="social-icon-group">
          
          <div class="social-icon">
            
            
            <a href="https://www.instagram.com/uncommon_farms/">
              <svg id="instagram-icon" xmlns="http://www.w3.org/2000/svg" width="35.999" height="36" viewbox="0 0 35.999 36">  <path id="Path_1465" data-name="Path 1465" d="M26.181,36H9.818A9.828,9.828,0,0,1,0,26.181V9.818A9.828,9.828,0,0,1,9.818,0H26.181A9.828,9.828,0,0,1,36,9.818V26.181A9.828,9.828,0,0,1,26.181,36M9.818,3.273A6.552,6.552,0,0,0,3.273,9.818V26.181a6.552,6.552,0,0,0,6.545,6.545H26.181a6.552,6.552,0,0,0,6.545-6.545V9.818a6.552,6.552,0,0,0-6.545-6.545Z" transform="translate(0 0)" fill="#9ab17e" />  <path id="Path_1466" data-name="Path 1466" d="M14.207,22.32A8.185,8.185,0,0,1,6.131,15.34a8.182,8.182,0,1,1,9.293,6.892,8.5,8.5,0,0,1-1.217.088M14.225,9.23a4.831,4.831,0,0,0-.72.054,4.908,4.908,0,1,0,1.44,0,4.831,4.831,0,0,0-.72-.054" transform="translate(3.845 3.791)" fill="#9ab17e" />  <path id="Path_1467" data-name="Path 1467" d="M17.15,7.773A1.636,1.636,0,0,1,17.133,4.5h.016a1.636,1.636,0,0,1,0,3.273" transform="translate(9.866 2.864)" fill="#9ab17e" /></svg>
            </a>
          </div>
          
          <div class="social-icon">
            
            
            <a href="https://twitter.com/UnCommon_Farms">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="29.25" viewbox="0 0 36 29.25">  <path id="twitter-icon" d="M36,51.463a15.388,15.388,0,0,1-4.253,1.165,7.339,7.339,0,0,0,3.247-4.079,14.749,14.749,0,0,1-4.68,1.786,7.38,7.38,0,0,0-12.766,5.047,7.6,7.6,0,0,0,.171,1.683,20.89,20.89,0,0,1-15.212-7.72,7.382,7.382,0,0,0,2.268,9.864A7.289,7.289,0,0,1,1.44,58.3v.081a7.414,7.414,0,0,0,5.913,7.252,7.366,7.366,0,0,1-1.935.243,6.526,6.526,0,0,1-1.4-.126,7.451,7.451,0,0,0,6.9,5.141,14.829,14.829,0,0,1-9.151,3.148A13.818,13.818,0,0,1,0,73.938,20.778,20.778,0,0,0,11.322,77.25c13.581,0,21.006-11.25,21.006-21,0-.326-.011-.641-.027-.954A14.723,14.723,0,0,0,36,51.463Z" transform="translate(0 -48)" fill="#9ab17e" /></svg>
            </a>
          </div>
          
          <div class="social-icon">
            
            
            <a href="https://www.facebook.com/uncommonfarms">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36">  <path id="facebook-icon" d="M36,18A18,18,0,1,0,18,36c.105,0,.211,0,.316-.007V21.987H14.449V17.48h3.867V14.161c0-3.846,2.348-5.941,5.78-5.941a31.415,31.415,0,0,1,3.466.176v4.022H25.2c-1.863,0-2.229.886-2.229,2.187v2.869h4.465l-.584,4.507H22.971V35.3A18.005,18.005,0,0,0,36,18Z" fill="#9ab17e" opacity="0.998" /></svg>
            </a>
          </div>
          
          <div class="social-icon">
            
            
            <a href="https://www.linkedin.com/company/uncommon-farms/">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewbox="0 0 36 36">  <path id="linkedin-icon" d="M32.4,0H3.6A3.611,3.611,0,0,0,0,3.6V32.4A3.611,3.611,0,0,0,3.6,36H32.4A3.611,3.611,0,0,0,36,32.4V3.6A3.611,3.611,0,0,0,32.4,0ZM10.8,30.6H5.4V14.4h5.4ZM8.1,11.34A3.24,3.24,0,1,1,11.34,8.1,3.227,3.227,0,0,1,8.1,11.34ZM30.6,30.6H25.2V21.06a2.7,2.7,0,0,0-5.4,0V30.6H14.4V14.4h5.4v2.16a5.815,5.815,0,0,1,4.5-2.52,6.378,6.378,0,0,1,6.3,6.3Z" fill="#9ab17e" /></svg>
            </a>
          </div>
          
        </div>
      </div>
      <div class="cta-right hide-cta-desk">
        
        
        <a class="btn " href="?hsLang=en">
          
        </a>

      </div>
      <div class="footer-right-group">
        <div class="footer-nav-wrap">
          
          <div class="footer-column">
            <ul>
             
                
 <li>
                
                
                <a href="https://uncommonfarms.com/business-solutions?hsLang=en">
                  Business
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/financial-solutions?hsLang=en">
                  Financial
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/insurance-solutions?hsLang=en">
                  Insurance
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/software-solutions?hsLang=en">
                  Software
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/about?hsLang=en">
                  About
                </a>
       </li>
                
          
            </ul>
          </div>
          
          <div class="footer-column">
            <ul>
             
                
 <li>
                
                
                <a href="https://members.agrisolutions.com/">
                  AgManager Login
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/ag-manager-support?hsLang=en">
                  AgManager Support 
                </a>
       </li>
                
 <li>
                
                
                <a href="https://www.agrian.com/home/login/">
                  FieldIQ Login
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/careers?hsLang=en">
                  Careers
                </a>
       </li>
                
          
            </ul>
          </div>
          
          <div class="footer-column">
            <ul>
             
                
 <li>
                
                
                <a href="https://uncommonfarms.com/financial-needs-assessment?hsLang=en">
                  Financial Needs Assessment
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/farming-needs-assessment?hsLang=en">
                  Farming Needs Assessment
                </a>
       </li>
                
 <li>
                
                
                <a href="https://uncommonfarms.com/business-solutions/canada-solutions?hsLang=en">
                  Canada Solutions
                </a>
       </li>
                
          
            </ul>
          </div>
          
        </div>

        <div class="cta-right">


          
          
          <a class="btn to-top " href="?hsLang=en">
            
          </a>

        </div>





        <div class="subscribe-form">
          <span id="hs_cos_wrapper_module_16830319704469_subscribe_designers_blog" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_blog_subscribe" style="" data-hs-cos-general-type="widget" data-hs-cos-type="blog_subscribe"><h3 id="hs_cos_wrapper_module_16830319704469_subscribe_designers_blog_title" class="hs_cos_wrapper form-title" data-hs-cos-general-type="widget_field" data-hs-cos-type="text">Subscribe to the Designers Blog</h3>

<div id="hs_form_target_module_16830319704469_subscribe_designers_blog_1066"></div>



</span>

        </div>

      </div>
    </div>
  </div>  
</div> 

</div>
</footer></div>
			
		</div>
		
    		
		
   
   

    		
    
		
    
   
		<script src="https://kit.fontawesome.com/1ba04dd134.js" crossorigin="anonymous"></script>
<script>

    window.addEventListener('message', event => {
   if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormReady' && event.data.id === $('.career-form').find('form').attr('data-form-id')) {
       $('.career-form form .hs-resume.hs-fieldtype-file').change(function(e) {
      
  
            var geekss1 = e.target.files[0].name;
                $(".career-form  form .hs-resume.hs-fieldtype-file legend.hs-field-desc").text(geekss1);

 
            });
     
     
           $('.career-form form .hs_cover_letter.hs-fieldtype-file').change(function(e) {
      
  
            var geekss = e.target.files[0].name;
                $(".career-form form .hs_cover_letter.hs-fieldtype-file legend.hs-field-desc").text(geekss);

 
            });
     
     
   }
});
  
  
  $('.baseModuleStyle').each(function(i) { 
        $(this).parents('.dnd-section').addClass('full-width-forcedd'); 
    });
  
    </script>

<!-- <script>
  $(function(){
   
  });
//   $(document).ready(function() {
//   var mixer = mixitup('#filter-container', {
//     selectors: {
//         target: '.filter-item'
//     }
// });
//   });
</script> -->
    

		
<!-- HubSpot performance collection script -->
<script defer src="https://static.hsappstatic.net/content-cwv-embed/static-1.388/embed.js"></script>
<script src="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/95237124120/1684952233558/bf-enterprise/js/waitUntilExists.min.js"></script>
<script src="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/95231011393/1684952235993/bf-enterprise/js/slick-slider-v1-8-1.min.js"></script>
<script src="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/95237124118/1689270136135/bf-enterprise/js/main.min.js"></script>
<script src="https://uncommonfarms.com/hs-fs/hub/2603437/hub_generated/template_assets/113663688776/1689783119799/bf-enterprise/js/menu.min.js"></script>
<script>
var hsVars = hsVars || {}; hsVars['language'] = 'en';
</script>

<script src="/hs/hsstatic/cos-i18n/static-1.53/bundles/project.js"></script>

    <!--[if lte IE 8]>
    <script charset="utf-8" src="https://js.hsforms.net/forms/v2-legacy.js"></script>
    <![endif]-->

<script data-hs-allowed="true" src="https://js.hsforms.net/forms/v2.js"></script>

  <script data-hs-allowed="true">
      hbspt.forms.create({
          portalId: '2603437',
          formId: '0c0eae4a-a0ec-4751-abfa-b0a9ea9c2d56',
          formInstanceId: '1066',
          pageId: 'null',
          region: 'na1',
          
          contentType: 'site-page',
          
          
          inlineMessage: "Thanks for Subscribing!",
          
          css: '',
          target: '#hs_form_target_module_16830319704469_subscribe_designers_blog_1066',
          
          formData: {
            cssClass: 'hs-form stacked'
          }
      });
  </script>


<script>
  
  $(document).ready(function() {
  
  // variables 
  var toTop = $('a.to-top');
  // logic
  toTop.on('click', function(e) {
     e.preventDefault()
    $('html, body').animate({
      scrollTop: $('html, body').offset().top } , 1000);
    });
  });


</script>


<!-- Start of HubSpot Analytics Code -->
<script type="text/javascript">
var _hsq = _hsq || [];
_hsq.push(["setContentType", "standard-page"]);
_hsq.push(["setCanonicalUrl", "https:\/\/uncommonfarms.com\/404"]);
_hsq.push(["setPageId", ""]);
_hsq.push(["setContentMetadata", {
    "contentPageId": null,
    "legacyPageId": null,
    "contentFolderId": null,
    "contentGroupId": null,
    "abTestId": null,
    "languageVariantId": null,
    "languageCode": "en",
    
}]);
</script>

<script type="text/javascript" id="hs-script-loader" async defer src="/hs/scriptloader/2603437.js?businessUnitId=0"></script>
<!-- End of HubSpot Analytics Code -->


<script type="text/javascript">
var hsVars = {
    render_id: "782f78e1-76d3-411e-b8f9-fb28ea77a8f6",
    ticks: 1693006100851,
    page_id: 0,
    
    content_group_id: 0,
    portal_id: 2603437,
    app_hs_base_url: "https://app.hubspot.com",
    cp_hs_base_url: "https://cp.hubspot.com",
    language: "en",
    analytics_page_type: "standard-page",
    analytics_page_id: "null",
    category_id: 1,
    folder_id: 0,
    is_hubspot_user: false
}
</script>


<script defer src="/hs/hsstatic/HubspotToolsMenu/static-1.191/js/index.js"></script>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KH6D5HF" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Google Tag Manager -->

<noscript>
  <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NT67PKX" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>

<!-- End Google Tag Manager -->




		



	
</body></html>